<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
        <h1>ようこそおいでくださいました。</h1>
    </div>

<table>
    <tr>
         <th>Time検索</th>
        <th><form><input type="submit" value="Time検索画面へ"> </form></th>
    </tr>
   <tr>
        <th>Time登録</th>
        <th><form><input type="submit" value="Time登録画面へ"> </form></th>
   </tr>



</table>

</body>
</html>